body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 10px 35px -10px rgba(0, 0, 0, 0.2);
  background: white;
  width: 600px;
  height: 350px; /* Adjust the height of the box */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-wrap: break-word; /* Ensure text wraps */
}

.compliment-container {
  height: 220px; /* Adjust the height of the container */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.static-text {
  font-size: 4em;
  color: #333;
  font-family: "Architects Daughter", cursive;
}

.compliment {
  font-size: 2.5em;
  color: #333;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  word-wrap: break-word; /* Ensure the text inside wraps */
  max-width: 100%; /* Set a max-width to prevent overflow */
}

button {
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  color: white;
  background: #000000;
  border-radius: 5px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.1)
  ); /* subtle gradient */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* shadow effect for lift */
  transition: transform 0.1s, box-shadow 0.1s; /* transition effects */
}

button:hover {
  background: #4b4b4b;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); /* increased shadow on hover */
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* reduce shadow when pressed */
}

@media (max-width: 640px) {
  .App {
    width: 90%; /* This will ensure the container has a fixed width on mobile */
    height: auto; /* You can adjust this as needed, but auto should work */
    padding: 30px 20px;
  }

  .static-text,
  .compliment {
    font-size: 1.5em;
  }

  button {
    font-size: 16px;
    padding: 10px 20px;
  }
}
